:root {
     --bkg-color: #010101;
     --footer-clr: #fcee0a;
     --color-lt-gray: #ff003c;
     --color-xlt-gray: #02d8f3;
     --color-white: #fff;
     --color-yellow: #fcee0a;
     --color-container: rgba(83, 83, 83, 0.13);
     --container-border: 1px solid rgba(255, 255, 255, 0.125);

     --dk-xlt-gray: #f2f7f7;
     --dk-lt-gray: #bbbfbf;
     --dk-bkg-color: #333438;
     --dk-color-yellow: #eec71a;

     --lt-xlt-gray: var(--dk-xlt-gray);
     --lt-color-yellow: var(--dk-color-yellow);
     --lt-lt-gray: var(--dk-lt-gray);
     --lt-bkg-color: var(--dk-bkg-color);
   }
   
::selection {
  color: var(--color-xlt-gray);
  background: var(--color-yellow);
}

::-moz-selection {
  color: var(--color-xlt-gray);
  background: var(--color-yellow);
}

/* Theme Container */
   
#dark-mode .color.background {
  background-color: var( --dk-bkg-color);
}

#dark-mode .color.shade-100 {
  background-color: var(--dk-lt-gray);
}
#dark-mode .color.shade-300 {
  background-color: var( --dk-color-yellow);
}
#dark-mode .color.shade-500 {
  background-color: var(--color-white);
}


#light-mode .color.background {
  background-color: var(--lt-xlt-gray);
}

#light-mode .color.shade-100 {
  background-color: var(--lt-color-yellow);
}
#light-mode .color.shade-300 {
  background-color: var(--lt-lt-gray);
}
#light-mode .color.shade-500 {
  background-color: var(--lt-bkg-color);
}

   
.theme-container button{
  transition: border 500ms;
}

.theme-select.active .theme-label::before {
  max-width: 8.5rem;
}

   
button:hover#light-mode .background{
  border: 1px solid var(--color-white);
}
  

.schitt.neon, .creek.neon{
  width: 325px;
  height: 100%;
  padding: 4px;
}

.schitt.neon path{
  fill: var(--footer-clr);
}

.creek.neon path{
  fill: var(--color-lt-gray);
}
  

.david-fadein.neon svg{
  fill: var(--color-xlt-gray);
}



.btn {
  background-color: var(--color-lt-gray);
  border: 1px solid var(--color-xlt-gray);
  color: var(--color-yellow);
}  

.btn::before {
  height: 80%;
  top: 10%;
  left: calc(-0.15em - 0.08em * 2);
  filter: brightness(0.9);
}

.btn::after {
  height: 60%;
  top: 20%;
  left: calc(-0.15em * 2 - 0.08em * 3);
  filter: brightness(0.9);
}

.lorem-form {
  backdrop-filter: blur(15px) saturate(135%);
  -webkit-backdrop-filter: blur(15px) saturate(135%);
  background-color: var(--color-container);
  border-radius: 4px;
  border: 1px solid var(--color-lt-gray);

}
  


footer,
footer a {
  color: var(--bkg-color);
}
   
footer a {
  text-decoration: none;
}

.email a:hover{
  color: var(--color-lt-gray);
}

.social i:hover, .copyright a:hover {
  color: var(--color-lt-gray);
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  width: 20%;
  margin: 0 auto;
  }


.sides-7{
  padding: 15px;
}
  
.sides-7:before,
.sides-7:after {
  content: "";
  position: absolute;
  inset: -30px;
  opacity: 0;
  background: 
    linear-gradient(currentColor 0 0) var(--p,0) 0,
    linear-gradient(currentColor 0 0) var(--p,0) 0,
    linear-gradient(currentColor 0 0) calc(100% - var(--p,0%)) 100%,
    linear-gradient(currentColor 0 0) calc(100% - var(--p,0%)) 100%;
  background-size: 25px 3px,3px 25px;
  background-repeat: no-repeat;
  transition: 0s .3s, opacity .3s;
  }
.sides-7:after {
  --p: 100%;
  }

.sides-7:hover:before,
.sides-7:hover:after {
  opacity: 1;
  inset: 0;
  transition: .4s,opacity .3s;
  }
.sides-7:hover:after {
  transition: .4s .4s,opacity .3s .4s;
  }  
  